%p Item #{item.name}
%p
  Owner:
  %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
%p Price: #{item.price} credits
- if item.owner.name != session[:name]
  - if item.state == :active
    %p
      This item is purchasable.
      -if User.by_name(session[:name]).credits >= item.price
        %a{:href => "/item/#{item.id}/buy"} Buy this item.
      -else
        You don't have enough credits to buy this item.
  - else
    %p This item is not purchasable at the moment.
-else
  - if item.state == :inactive
    %a{:href => "/item/#{item.id}/sell"} Put this item on the market.
  -else
    This item is purchasable by other users.
%hr
%p
  %a{:href => "/user/#{session[:name]}"} My items
  %a{:href => "/item"} Buy items
  %a{:href => "/user"} Users
  %a{:href => "/logout"} Logout