%h4 Purchasable items

- for user in users
  -unless user.name == session[:name]
    User
    %a{:href => "/user/#{user.name}"} #{user.name}s
    items:
  %ul
    - for item in user.active_items
      -unless item.owner.name == session[:name]
        %p
          #{item.name} - #{item.price} credits -
          %a{:href => "/item/#{item.id}/buy"} Buy this item

%hr
%a{:href => "/user/#{session[:name]}"} My items
%a{:href => "/user"} Users
%a{:href => "/logout"} Logout