%h1 Purchasable items

%ul
  - for user in users
    - for item in user.active_items
      %p
        #{item.name} - #{item.price} -
        %a{:href => "/user/#{item.owner.name}"} #{item.owner.name} -
        %a{:href => "/item/#{item.id}/buy"} Buy this item

%hr
%a{:href => "/user"} Users
%a{:href => "/logout"} Logout