- if user.name != session[:name]
  %h4 User #{user.name}
  -if user.active_items.length == 0
    This user has no items on the market at the moment.
  -else
    - for item in user.active_items
      %p
      %a{:href => "/item/#{item.id}"} #{item.name}
      \- #{item.price} credits -
      -if User.by_name(session[:name]).credits >= item.price
        %a{:href => "/item/#{item.id}/buy"} Buy this item.
      -else
        You don't have enough credits to buy this item.
-else
  %h4 Your account
  Your credits: #{user.credits}
  - for item in user.items
    %p
      %a{:href => "/item/#{item.id}"} #{item.name}
      \- #{item.price} credits -
      - if item.state == :inactive
        %a{:href => "/item/#{item.id}/sell"} Put this item on the market.
      -else
        This item is purchasable by other users.

%hr
%p
  %a{:href => "/user/#{session[:name]}"} My items
  %a{:href => "/item"} Buy items
  %a{:href => "/user"} Users
  %a{:href => "/logout"} Logout
