- if user.name != session[:name]
  %h1 User #{user.name}
  - for item in user.list_items
    %p
      %a{:href => "/item/#{item.id}"} #{item.name}
      \- #{item.price} credits -
      %a{:href => "/item/#{item.id}/buy"} Buy this item.
-else
  Your credits: #{user.credits}
  - for item in user.list_items
    %p
      %a{:href => "/item/#{item.id}"} #{item.name}
      \- #{item.price} credits -
      - if item.state == :inactive
        %a{:href => "/item/#{item.id}/sell"} Put this item on the market.
      -else
        This item is purchasable by other users.

%hr

%a{:href => "/user/#{session[:name]}"} My items
%a{:href => "/item"} Buy items
%a{:href => "/user"} Users
%a{:href => "/logout"} Logout
